/* global styles */
body{
  background-color: #f5f5f5;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  height: 100px;
  background-color: #006699;
  display: flex;
  justify-content: center;
  align-items: center;
}

header>a{
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  margin: 50px;
}

form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* make form item take entire line and add margin and padding */
  flex-wrap: wrap;
  flex-direction: column;
}

form>label{
  margin: 10px;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

form>label>input{
  margin: 10px;
  padding: 10px;
  font-size: 1 em;
  font-weight: bold;
  border: 1px solid #006699;
  border-radius: 5px;
}

form>button{
  width: 100px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #006699;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

/* on hoover effect on the a tag */
header>a:hover{
  background-color: cadetblue;
  text-decoration: underline;
}

